@model MovieCollection
<h1>Please fill out this form to add movies to the movie collection</h1>
<!--Make a form for movie collection that posts to a sqllite database with info for
    movies director, year,rating, edited, length, format, and notes. 
-->
<h2>Add New Movie</h2>
<form method="post">

    <input type="hidden" asp-for="MovieId" />
    <br /><br />

    <select asp-for="CategoryId">
        <option value="">Select a Category</option>
        @foreach (Mission06_Trommlitz.Models.Category c in ViewBag.Categories)
        {
            <option value="@c.CategoryId">@c.CategoryName</option>
        }
    </select>
        <br>
        <br>
    <label asp-for="Title">Title:</label><br>
    <input asp-for="Title" name="title"><br><br>

    <label asp-for="Year">Year:</label><br>
    <input asp-for="Year" type="number" id="year" name="year" min="1888" max="2099"><br><br>

    <label asp-for="Director">Director:</label><br>
    <input asp-for="Director" name="director">

    <br><br>
    <label asp-for="Rating">Rating:</label><br>
    <select id="rating" name="rating" asp-for="Rating">
        <option value="G">G</option>
        <option value="PG">PG</option>
        <option value="PG-13">PG-13</option>
        <option value="R">R</option>
    </select><br><br>

    <label asp-for="Edited">Edited:</label><br>
    <input type="radio" id="edited_yes" asp-for="Edited" value="true">
    <label for="edited_yes">Yes</label>
    <input type="radio" id="edited_no" asp-for="Edited" value="false">
    <label for="edited_no">No</label><br><br>


    <label asp-for="LentTo">Lent To:</label><br>
    <input asp-for="LentTo"><br><br>

    <label asp-for="CopiedToPlex">CopiedToPlex:</label>
    <select asp-for="CopiedToPlex">
        <option value="false">No</option>
        <option value="true">Yes</option>
    </select>
        <br>
        <br>

    <label asp-for="Notes">Notes:</label><br>
    <input asp-for="Notes" type="text" id="notes" name="notes" maxlength="25"><br><br>

    <button type="submit">Submit</button>

    <div asp-validation-summary="All"></div>
</form>
